<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>RiskIt or Biscit</title>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/grid/">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <script>
    function disableButtons() {
        <%- disableButtonJS %>
    }
    </script>

    <style>
        h1 {
            text-align: center;
        }

        .btn:disabled {
            background-color: #444444;
        }

        <%- css_value_hide  %>

     </style>


    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">
</head>
<body onload="disableButtons()">

    <main>
        <h1>RiskIt or BiscIt</h1>
        <div class="container">
            <div class="row"><p> </p></div>
            <div class="row">
                <div class="col-md-2 col-sm-6 game-label">Player Name: </div>
                <div class="col-md-2 col-sm-6 game-field"><%= r_player.playername %></div>
                <div class="col-md-2 col-sm-6 game-label">Game No: </div>
                <div class="col-md-2 col-sm-6 game-field"><%= r_game.gameNo %></div>
                <div class="col-md-2 col-sm-6 game-label">Game Avg: </div>
                <div class="col-md-2 col-sm-6 game-field">$ <%= Math.round(r_game.runningAvg) %></div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6 game-label">Case Chosen: </div>
                <div class="col-md-2 col-sm-6 game-field">Case <%= case_chosen %></div>
                <div class="col-md-2 col-sm-6 game-label">Until Next Offer: </div>
                <div class="col-md-2 col-sm-6 game-field"><%= r_until %> cases</div>
                <div class="col-md-2 col-sm-6 game-label">Crypto Offer: </div>
                <div class="col-md-2 col-sm-6 game-field">$ <%= bank_offer %></div>

            </div>
        </div>

        <div class="container">
            <div class="row"><p></p><div>
            <div class="row"> <p class="text-danger"><%= game_message %></p></div>
        <div>

        <div class="container">
            <div class="row"><p> </p></div>
            <div class="row">
                <div id="v_cent" class="col-md-3 col-sm-6 game-amt">$.01 </div>
                <div id="v_1" class="col-md-3 col-sm-6 game-amt">$1</div>
                <div id="v_5" class="col-md-3 col-sm-6 game-amt">$5 </div>
                <div id="v_10" class="col-md-3 col-sm-6 game-amt">$10</div>
            </div>
            <div class="row">
                <div id="v_25" class="col-md-3 col-sm-6 game-amt">$25 </div>
                <div id="v_50" class="col-md-3 col-sm-6 game-amt">$50</div>
                <div id="v_75" class="col-md-3 col-sm-6 game-amt">$75 </div>
                <div id="v_100" class="col-md-3 col-sm-6 game-amt">$100</div>
            </div>
            <div class="row">
                <div id="v_200" class="col-md-3 col-sm-6 game-amt">$200</div>
                <div id="v_300" class="col-md-3 col-sm-6 game-amt">$300</div>
                <div id="v_400" class="col-md-3 col-sm-6 game-amt">$400 </div>
                <div id="v_500" class="col-md-3 col-sm-6 game-amt">$500</div>
            </div>
            <div class="row">
                <div id="v_750" class="col-md-3 col-sm-6 game-amt">$750</div>
                <div id="v_1000" class="col-md-3 col-sm-6 game-amt">$1000</div>
                <div id="v_2500" class="col-md-3 col-sm-6 game-amt">$2500 </div>
                <div id="v_5000" class="col-md-3 col-sm-6 game-amt">$5000</div>
            </div>
            <div class="row">
                <div id="v_10000" class="col-md-3 col-sm-6 game-amt">$10000 </div>
                <div id="v_25000" class="col-md-3 col-sm-6 game-amt">$25000</div>
                <div id="v_50000" class="col-md-3 col-sm-6 game-amt">$50000 </div>
                <div id="v_75000" class="col-md-3 col-sm-6 game-amt">$75000</div>
            </div>
            <div class="row">
                <div id="v_100000" class="col-md-3 col-sm-6 game-amt">$100000 </div>
                <div id="v_200000" class="col-md-3 col-sm-6 game-amt">$200000</div>
                <div id="v_300000" class="col-md-3 col-sm-6 game-amt">$300000</div>
                <div id="v_400000" class="col-md-3 col-sm-6 game-amt">$400000</div>
            </div>
            <div class="row" >
                <!-- <div id="v_noneL" class="col-md-3 col-sm-6 game-amt"></div> -->
                <div id="v_500000" class="col-md-3 col-sm-6 game-amt">$500000</div>
                <div id="v_1000000" class="col-md-3 col-sm-6 game-amt">$1000000</div>
                <!-- <div id="v_noneR" class="col-md-3 col-sm-6 game-amt"></div> -->
            </div>
        </div>

        <form>
        <%- include('partials/cases') %>
        <!--
        <div class="container">
            <div class="row"><p> </p></div>
            <div class="row"></div>
            <div class="row">
                <button id="case_1" type="submit" formaction="/gameplay/1" formmethod="post" class="btn btn-primary col-md-3 col-sm-6 ">1</button>
                <button id="case_2" type="submit" formaction="/gameplay/2" formmethod="post" class="btn btn-primary col-md-3 col-sm-6 ">2</button>
                <button id="case_3" type="submit" formaction="/gameplay/3" formmethod="post" class="btn btn-primary col-md-3 col-sm-6 ">3</button>
                <button id="case_4" type="submit" formaction="/gameplay/4" formmethod="post" class="btn btn-primary col-md-3 col-sm-6 ">4</button>
            </div>
            <div class="row">
                <button id="case_5" type="submit" formaction="/gameplay/5" formmethod="post" class="btn btn-primary col-md-3 col-sm-6 ">5</button>
                <button id="case_6" type="submit" formaction="/gameplay/6" formmethod="post" class="btn btn-primary col-md-3 col-sm-6 ">6</button>
                <button id="case_7" type="submit" formaction="/gameplay/7" formmethod="post" class="btn btn-primary col-md-3 col-sm-6 ">7</button>
                <button id="case_8" type="submit" formaction="/gameplay/8" formmethod="post" class="btn btn-primary col-md-3 col-sm-6 ">8</button>
            </div>
            <div class="row">
                <button id="case_9" type="submit" formaction="/gameplay/9" formmethod="post" class="btn btn-primary col-md-3 col-sm-6 ">9</button>
                <button id="case_10" type="submit" formaction="/gameplay/10" formmethod="post" class="btn btn-primary col-md-3 col-sm-6 ">10</button>
                <button id="case_11" type="submit" formaction="/gameplay/11" formmethod="post" class="btn btn-primary col-md-3 col-sm-6 ">11</button>
                <button id="case_12" type="submit" formaction="/gameplay/12" formmethod="post" class="btn btn-primary col-md-3 col-sm-6 ">12</button>
            </div>
            <div class="row">
                <button id="case_13" type="submit" formaction="/gameplay/13" formmethod="post" class="btn btn-primary col-md-3 col-sm-6 ">13</button>
                <button id="case_14" type="submit" formaction="/gameplay/14" formmethod="post" class="btn btn-primary col-md-3 col-sm-6">14</button>
                <button id="case_15" type="submit" formaction="/gameplay/15" formmethod="post" class="btn btn-primary col-md-3 col-sm-6">15</button>
                <button id="case_16" type="submit" formaction="/gameplay/16" formmethod="post" class="btn btn-primary col-md-3 col-sm-6">16</button>
            </div>
            <div class="row">
                <button id="case_17" type="submit" formaction="/gameplay/17" formmethod="post" class="btn btn-primary col-md-3 col-sm-6">17</button>
                <button id="case_18" type="submit" formaction="/gameplay/18" formmethod="post" class="btn btn-primary col-md-3 col-sm-6">18</button>
                <button id="case_19" type="submit" formaction="/gameplay/19" formmethod="post" class="btn btn-primary col-md-3 col-sm-6">19</button>
                <button id="case_20" type="submit" formaction="/gameplay/20" formmethod="post" class="btn btn-primary col-md-3 col-sm-6">20</button>
            </div>
            <div class="row">
                <button id="case_21" type="submit" formaction="/gameplay/21" formmethod="post" class="btn btn-primary col-md-3 col-sm-6">21</button>
                <button id="case_22" type="submit" formaction="/gameplay/22" formmethod="post" class="btn btn-primary col-md-3 col-sm-6">22</button>
                <button id="case_23" type="submit" formaction="/gameplay/23" formmethod="post" class="btn btn-primary col-md-3 col-sm-6">23</button>
                <button id="case_24" type="submit" formaction="/gameplay/24" formmethod="post" class="btn btn-primary col-md-3 col-sm-6">24</button>
            </div>
            <div class="row">
                <button id="case_25" type="submit" formaction="/gameplay/25" formmethod="post" class="btn btn-primary col-md-3 col-sm-6">25</button>
                <button id="case_26" type="submit" formaction="/gameplay/26" formmethod="post" class="btn btn-primary col-md-3 col-sm-6">26</button>
            </div>
        </div>
        -->

        <div class="container">
            <div class="row"><p> </p></div>
            <div class="row">
                <button id="riskit" type="submit" formaction="/gamedecide/riskit" formmethod="post" class="btn btn-warning col-6">RiskIt</button>
                <button id="biscit" type="submit" formaction="/gamedecide/biscit" formmethod="post" class="btn btn-success col-6">BiscIt</button>

            </div>
        </div>
        </form>

        </main>

<%- include('partials/footer') %>

