<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>RiskIt or Biscit</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">

</head>
<body>
<h1>RiskIt or BiscIt High Scores</h1>
<p></p>

    <div class="container">
        <div class="row"><div class="col-12">Previous Games</div></div>
        <div class="row">
            <div class="col-md-2 game-label">Player</div>
            <div class="col-md-2 game-label">Game No</div>
            <div class="col-md-2 game-label">Date</div>
            <div class="col-md-2 game-label">Case Amt</div>
            <div class="col-md-2 game-label">Amt Won</div>
            <div class="col-md-2 game-label">Cases Viewed</div>
        </div>
        <% r_docs.forEach(function(item) {          %>
            <div class="row">
                <div class="col-md-2 game-field"><%= item.player.playername %></div>
                <div class="col-md-2 game-field"><%= item.gameNo %></div>
                <div class="col-md-2 game-field"><%= item.gameDate.toLocaleString() %></div>
                <div class="col-md-2 game-field">$ <%= item.caseAmount %></div>
                <div class="col-md-2 game-field">$ <%= item.amountWon %></div>
                <div class="col-md-2 game-field"><%= item.casesSeen %></div>
            </div>
        <% });                                     %>                    
        <div class="row"><p> </p></div>
        <form>
            <div class="row">
                <button id="playerdata" type="submit" formaction="/gamedata/player" formmethod="post" class="btn btn-primary col-4">Player Data</button>
                <button id="highscores" type="submit" formaction="/gamedata/high" formmethod="post" disabled=true class="btn btn-primary col-4">High Scores</button>
                <button id="playagain" type="submit" formaction="/gamestart" formmethod="post" class="btn btn-success col-4">RiskIt or BiscIt again?</button>
            </div>
        </form>
   </div>


<%- include('partials/footer') %>